body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Add background color to the page */
}

#fileInput {
    background-color: #4CAF50; /* Add background color to the button */
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

h1 {
    color: #333333; /* Set header color to dark grey */
}

#wordCount{
    font-style: italic;
}